.cards{
    display: flex;
    width: 600px;
    border: none;
    height: 700px;
    margin: 0px auto;
    margin-top: 130px;
    background: #fff;
    border-radius: 20px;
}
div .title{
    padding: 10px;
    margin-left: 18px;
    color: hsl(187, 24%, 22%);
}